* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  background-color: bisque;
  column-gap: 0;
  row-gap: 0;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.item-header {
  grid-column: span 2;
  grid-row: 1;
}

/* .item-sidebar {
  grid-column: 1;
  grid-row: 2;
}

.item-body {
  grid-column: 2;
  grid-row: 2;
}

.item-footer {
  grid-column: span 2;
  grid-row: 3;
} */

.item-sidebar {
  grid-column: span 2;
  grid-row: 2;
}

.item-body {
  grid-column: span 2;
  grid-row: 3;
}

.item-footer {
  grid-column: span 2;
  grid-row: 4;
}

.header {
  position: relative;
  width: 100%;
}

.header-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.header-title {
  font-size: 2em;
  position: absolute;
  margin: 10px 0;
  right: 15%;
  top: 10px;
  color: tan;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 15px;
}

.side-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 14px 10px;
  margin: 5px 0;
}

.list-item {
  list-style: none;
  padding: 12px 10px;
}

.list-item a {
  font-family: 'Arial', sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  color: black;
  padding: 12px 20px;
  width: 100%;
  height: 100%;
}

.list-item a:hover {
  border-radius: 10px;
  background-color: brown;
  color: white;
}

.sj-list {
  margin: 25px 0;
}

.sj-item {
  text-align: left;
}

.main {
  margin: 0 10px;
  text-align: left;
}

.main-title {
  margin: 25px 0 25px 0;
}

.main-text {
  margin: 25px 0 50px 0;
}

.features {
  /* next 4 lines used to center indiv. feature inside of features container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: tan;
  text-align: center;
}

.features-title {
  margin-top: 25px;
}

.feature {
  width: 80%;
  margin: 25px 0;
}

.feature-title {
  text-align: left;
  margin-bottom: 10px;
}

.feature-img {
  width: 100%;
  margin-bottom: 10px;
}

.feature-text {
  text-align: left;
  margin-bottom: 20px;
}

.feature-btn {
  padding: 13px 16px;
  border-radius: 10px;
  text-decoration: none;
  background-color: greenyellow;
  color: black;
}

.feature-btn:hover {
  background-color: green;
  color: white;
}

.book-table {
  margin: 15px 0 25px 0;
}

.table-title {
  margin: 15px 0 10px 0;
}

.text {
  font-family: 'Arial', sans-serif;
}

.bold {
  font-weight: bold;
}

.space {
  padding: 15px 0;
}
